:root {
    --background-color: #F3F7F0;
    --card-background-color: #EEF5DB;
    --card-border-color: #7ED3B2;
    --font-color: #000;
    --card-shadow-color: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: space-around;
    margin: 1rem;
}

@media (max-width: 380px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    font-weight: 600;
    background-color: rgba(255,140,66,0.2);
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.25);
}

.img_box {
    margin: 1rem 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.radio_name {
    text-align: center;
    font-size: 2rem;
}

.radio_logo {
    width: 100%;
}

.text_box {
    margin: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.interpret, .track {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.button {
    outline: none;
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    margin: 1rem 0 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.delete_button {
    background-color: #FF3C38;
    color: #011627;
}

.date {
    font-size: 1.2rem;
    font-weight: normal;
}

.save_button {
    background-color: #FF8C42;
    color: #011627;
}

.save_button:hover {
    background-color: #FF3C38;;
}

.saved, .saved:hover {
    background-color: #76A21E;
}

.buttons {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0.5rem;
}

.menu_button {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color: #76A21E;
    padding: 0.5rem 2rem;
    border-right: 1px solid black;
}

.menu_button:first-child {
    border-radius: 15px 0 0 15px;
}

.menu_button:last-child {
    border-radius: 0 15px 15px 0;
    border-right: none;
}

.menu_button:first-child:nth-last-child(1) {
    border-radius: 15px 15px 15px 15px;
}

@media (max-width:550px) {
    .buttons {
        display: grid;
        grid-template-columns: repeat(1, max-content);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .menu_button {
        border: none;
        border-bottom: 1px solid black;
    }

    .menu_button:first-child {
        border-radius: 15px 15px 0px 0;
    }
    
    .menu_button:last-child {
        border-radius: 0 0 15px 15px;
        border-bottom: none;
    }
}

.form-group {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}

form#checked_form {
    display: grid;
    grid-auto-columns: minmax(1fr, max-content);
    justify-items: space-between;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: auto;
}

form#checked_form > div {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form#checked_form > div > * {
    margin: 0 0.5rem;
}

form#checked_form > div > p {
    margin: 0 1rem;
    cursor: pointer;
}

form#checked_form > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form#checked_form > div > div > button {
    
    padding: 0.3rem 0.3rem;
}

input[type=checkbox] {
    /* TODO */
}

input[type=checkbox]:checked:before + label:before {
    /* TODO */
}

form#unchecked_form {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

form#unchecked_form > div {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;
}

form#unchecked_form > div > * {
    margin: 0.2rem;
}

form#unchecked_form > div > p,
form#checked_form > div > p {
    transition: text-decoration 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
}

form#unchecked_form > div > p:hover,
form#checked_form > div > p:hover {
    text-decoration: underline;
    transform: scale(1.1,1.1);
}

form#unchecked_form > div > p {
    margin: 0.2rem;
    cursor: pointer;
}

button.menu_button {
    outline: none;
    font-weight: normal;
    border: 0;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.center h1 {
    margin: 1rem;
}

.center p {
    margin: 1rem;
}

.center a {
    color: #FF3C38;
}
